.summary {
    color: #85898F;
    border-left: 5px solid #17E670;
    font-size:16px;
}


h1 {color: #1B354B; }
h2 {color: #1B354B; }
h3 {color: #3D4959; }
h4 {color: #3D4959; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #0055FF;
    color: white; !important;
}

.nav > li.active > a {
    background-color: #0055FF; !important;
}

.nav > li > a:hover {
    background-color: #0055FF;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #0055FF;
}

.nav li.thirdlevel > a {
    background-color: #FBFBFB !important;
    color: #0055FF;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}
/* top navbar */
.navbar-inverse {
    background-color: #0055FF !important;
    border-color: #0055FF !important;
}

/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #015CAE !important;
}*/

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0055FF !important;
    color: white !important;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #0055FF;
}

.btn-primary {
    color: white;
    background-color: #0055FF;
    border-color: #0055FF;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #0055FF !important;
    color: white !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #0055FF;
    border-color: #0055FF;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #1B354B !important; font-size:28px !important;}
body.print h2 {color: #1B354B !important; font-size:20px !important;}
body.print h3 {color: #3D4959 !important; font-size:14px !important;}
body.print h4 {color: #3D4959 !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #0055FF;
}

div.sidebarTitle {
    color: #0055FF;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #FF3D33;
    margin-bottom:10px;
    margin-left: 5px;

}
/* this needs work */
p.codeTitle {
    font-size: 5;
    color: #ABB1BA;
    margin-bottom: 0px;
}

/*--------
what i added
--------*/
div.next {
    margin-top: 25px;
}

p.proc {
    font-weight: bold;
}

.navbar-brand {
    color: white !important;
}
/* don't know why this kept getting overwritten */
.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.tagTable {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

.pageType {
    float: right;
    background-color: gray;
    display: inline;
    padding: .3em;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 14;
    white-space: nowrap;
    vertical-align: top;
    border-radius: .25em;
    line-height: 2;
}

.action {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    background: rgba(0,0,0,0.1);
    padding: 0;
    margin: 0 0 16px 0;
    line-height: 26px;
    font-weight: normal;
}

.label-delete {
    background-color: #a41e22;
    border-color: #a41e22;
}
.label-post {
    background-color: #098036;
    border-color: #098036;
}

.label-put {
    background-color: #f4ce42;
    border-color: #f4ce42;
}

.label-patch {
    background-color: #AD510C;
    border-color: #AD510C;
}
.label-get {
    background-color: #0f6ab4;
    border-color: #0f6ab4;
}
