{% if project == "cloud" %}
<h2>Client Libraries</h2>

<p>Looking for an easy way to get started with our API rather than having to piece it all together yourself? Install one of our client libraries! These libraries make it easy to interact with our API&#58;
<ul>
    <li>Language-specific calls that process the HTTP for you so you can work directly with resources in your code. For example, our PHP library has a <code>createUser</code> method that you can use without having to provide HTTP header info. The returned new user is a resource you can work with directly, instead of having to process an HTTP response.</li>
    <li>Easier authorization.</li>
    <li>Fully documented, with robust examples.</li>
</ul>

​<p>Download our libraries on GitHub here&#58;
    <ul>
        <li><a href="https://github.com/Weebly/cloud-client-php">PHP</a></li>
        <li><a href="https://github.com/Weebly/cloud-client-ruby">Ruby</a></li>
        <li><a href="https://github.com/Weebly/cloud-client-python">Python</a></li>
        <li><a href="https://github.com/Weebly/cloud-client-java">Java</a></li>
    </ul>
{% endif %}

<h2>Endpoint</h2>
The endpoint is: {{page.endpoint}}

{% if site.project == "platform" %}
<h2>Versions</h2>
<p>We encourage you to explicitly request this version via the Accept header.</p>

{% highlight shell %}
Accept application/vnd.weebly.v1+json
{% endhighlight %}

{% endif %}

<h2>Schema</h2>
 <p>All API access is over HTTPS, and accessed from the <code>{{page.endpoint | remove: "https://"}}</code> domain. All data is sent and received as JSON. Blank fields are included as null instead of being omitted. Dates and times are Unix Epoch timestamps.</p>

<h3>List View</h3>
<p>When retrieving a list of resources, a summary list view of each resource is returned. In some cases, this is akin to a compound primary key. In most root resource cases, like product, the list view contains enough information to make a workable list view in an application without making calls for each resource.</p>

<h3>Detail View</h3>
<p>When retrieving a single resource, you will receive a detailed view typically resulting in all the attributes of the resource. In addition, sub resources (like a product's skus) that are owned by this resource are inlined to the result. Other resources (like categories) which are associated but not owned by this resource provide the ids needed to look them up separately.</p>

<h2>HTTP Redirects</h2>
<p>We may issue redirects. Any call may result in a redirect, at which point you should make an identical call but to the newly provided resource URL.</p>

<h2>HTTP Verbs</h2>
<p>You can use the following&#58;
    <ul>
        <li><strong>GET</strong><br>
​           Used for retrieving resources.</li>
        <li><strong>POST</strong><br>
​           Used for creating resources.</li>
        <li><strong>PATCH</strong><br>
​           Used for updating resources with partial JSON data.</li>
        <li><strong>PUT</strong><br>
​           Used for replacing resources or entire collections. Fields will be replaced with given values and any fields without given values will be reset to their default. Any fields without defaults, for example ID fields, will remain unchanged.</li>
        <li><strong>DELETE</strong><br>
​           Used for deleting resources.</li>
    </ul>

<h2>Search Parameters</h2>
<p>Some endpoints allow you to use search parameters in order to filter your results. When using parameters, do not add that query string to your HMAC Hash.</p>

<h2>Pagination</h2>
<p>Pagination of certain resources in list view happens automatically. Information about the total number of resources, like the total count, are provided in headers.
    <ul>
        <li><code>X-Resultset-Total</code> shows the total number of records for the request.</li>
        <li><code>X-Resultset-Page</code> shows the page for the call.</li>
        <li><code>X-Resultset-Limit</code> shows the record limit for the page (i.e. each call). The default is <code>25</code>, the max is <code>200</code>).</li>
    </ul>

<p>If there are additional pages to be returned, a <code>Link</code> header will be included that has links to the first, previous, next and last pages.</p>

<p>For example, a response from the Site API might return the following in the header, showing that there are a total of 44 records to be returned, this is the first page, and that 25 is the record limit&#58;</p>

{% highlight json %}
"http_code": 200,
    "result": {
        "headers": [
            "HTTP\/1.1 200 OK",
            "Date: Sat, 25 Jun 2016 00:21:34 GMT",
            "Server: Apache",
            "X-REPOSITORY: repos\/myrepos",
            "X-Resultset-Total: 44",
            "X-Resultset-Page: 1",
            "X-Resultset-Limit: 25",
{% endhighlight %}

<p>When you expect the result set to be greater than 25, use these parameters to determine the pages to return and to increase the limit&#58;
    <ul>
        <li><code>page</code> (int)<br />
            Which page of results to return. Starts at <code>1</code>.</li>
        <li><code>limit</code> (int)<br />
            Number of results per page. Default <code>25</code>, Max <code>200</code>. Don't forget that raising the limit may affect performance.</li>
    </ul>
{% include note.html content="Only the first 25 results are returned by default. If the result set is expected to be over 25, you <strong>must</strong> implement pagination."%}

<p>For example, this CURL request to the Site API returns the second page of result sets.</p>


{% if site.project == "cloud" %}
{% highlight shell%}
curl https://api.weeblycloud.com/user/USER_ID/site?page=2&limit=25  \
 -H "X-Public-Key: YOURAPIKEY" \
 -H "X-Signed-Request-Hash: YOURSECRETHASH"
{% endhighlight %}

{% elsif site.project == "platform" %}
{% highlight shell%}
curl --request GET \
  --url  https://api.weebly.com/v1/user/sites/{SITE_ID/pages?page=2&limit=25 \
  --header 'accept: application/vnd.weebly.v1+json' \
  --header 'content-type: application/json' \
  --header 'x-weebly-access-token: [YOUR_TOKEN]'  \
{% endhighlight %}
{% endif %}
