<div class="row">

  {% for allowed-tags in site.data.tags.allowed-tags %}
  	{% assign tagName = allowed-tags %}

    <div class="topic-cards">

      <div class="Card theme_default topic-card">
        <h3 class="card-header"><a href="tag_{{tagName}}.html">{{tagName}}</a></h3>

        {% if tagName == "getting_started" %}
            {% if site.project != "platform" %}
        		<p>Learn all about how to set up and configure {{site.name}}</p>
        	{% elsif site.project == "platform" %}
            	<p>Start creating your app!</p>
        	{% endif %}
        {% elsif tagName == "requirements" %}
        	<p>Read about the requirements your app will need to adhere to.</p>
        {% elsif tagName == "elements" %}
        	<p>Learn how to build custom elements that you drag and drop to build a web site.</p>
        {% elsif tagName == "backend_services" %}
        	<p>Learn how to build backend services that integrate directly with Weebly via the REST API.</p>
        {% elsif tagName == "snippets" %}
        	<p>Create HTML code snippets that can be installed onto a sites pages.</p>
        {% elsif tagName == "dashboard_cards" %}
        	<p>Create dynamic cards that your app uses to show site information or that provide a place to configure and maintain your app.</p>
        {% elsif tagName == "custom_apps" %}
        	<p>Create apps that you can install directly to your customer's sites.</p>
        {% elsif tagName == "sites" %}
        	<p>Create and manage your {{site.customer}}'s sites.</p>
        {% elsif tagName == "apis" %}
        	<p>Work with the Weebly API.</p>
        {% elsif tagName == "troubleshooting" %}
        <p>Find solutions to any issues you might encounter.</p>
        {% elsif tagName == "configuration" %}
        <p>Learn how to configure {{site.name}}.</p>
        {% elsif tagName == "clients" %}
        <p>Learn how to create and manage your clients.</p>
        {% elsif tagName == "plans" %}
        <p>Create and manage site plans.</p>
        {% elsif tagName == "apps" %}
        <p>Learn how to build custom Weebly apps.</p>
        {% elsif tagName == "themes" %}
        <p>Build Weebly Themes for your {{site.customer}}.</p>
        {% endif %}
      </div>
    </div>

  {% endfor %}

</div>
