{% include custom/sidebarconfigs.html %}

<ul id="mysidebar" class="nav NavList">
   <!--  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li> -->

    {% for entry in sidebar %}
	    {% for folder in entry.folders %}
		    {% if folder.output contains "web" %}

			    <li class="NavLinkLi">
			        <a href="#" class="NavLink isSecondary">{{ folder.title }}</a>
			        <ul class="NavList Children">
			            {% for folderitem in folder.folderitems %}
			            {% if folderitem.output contains "web" %}

				            {% if folderitem.external_url %}
					            <li class="NavLinkLi">
					            	<a href="{{folderitem.external_url}}" target="_blank" class="NavLink isSecondary">{{folderitem.title}}</a>
					            </li>
				            {% elsif page.url == folderitem.url %}
					            <li class="active isActive NavLinkLi">
					            	<a href="{{folderitem.url | remove: "/"}}" class="NavLink  isSecondary">{{folderitem.title}}</a>
					            </li>
				            {% else %}
					            <li class="NavLinkLi">
					            	<a href="{{folderitem.url | remove: "/"}}" class="NavLink isSecondary">{{folderitem.title}}</a>
					            </li>
				            {% endif %}

				            {% for subfolders in folderitem.subfolders %}
					            {% if subfolders.output contains "web" %}
						            <li class="subfolders NavLinkLi">
						                <a href="#" class="NavLink">{{ subfolders.title }}</a>

						                <ul class="NavList Children">
						                    {% for subfolderitem in subfolders.subfolderitems %}
							                    {% if subfolderitem.output contains "web" %}
								                    {% if subfolderitem.external_url %}
									                    <li class="NavLinkLi">
									                    	<a href="{{subfolderitem.external_url}}" target="_blank" class="NavLink isNested">{{subfolderitem.title}}</a>
									                   	</li>
						                    		{% elsif page.url == subfolderitem.url %}
						                    			<li class="active isActive NavLinkLi">
						                    				<a href="{{subfolderitem.url | remove: "/"}}" class="NavLink isNested">{{subfolderitem.title}}</a>
						                    			</li>
						                    		{% else %}
						                    			<li class="NavLinkLi">
						                    				<a href="{{subfolderitem.url | remove: "/"}}" class="NavLink isNested">{{subfolderitem.title}}</a>
						                    			</li>
						                    		{% endif %}
						                    	{% endif %}
						                    {% endfor %}
						                </ul>

						            </li>
					            {% endif %}
				            {% endfor %}
			            {% endif %}
			            {% endfor %}
			        </ul>
			    </li>
		    {% endif %}
	    {% endfor %}
    {% endfor %}

</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>
$("li.active").parents('li').toggleClass("active");
</script>
