<div id="elementMap">
<div class="content"><a href="element_main.html"><div class="box box1">Before You Begin</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_1.html"><div class="box box2">Design the Element</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_2.html"><div class="box box3">Register the App</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_3.html"><div class="box box4">Create a Local Directory Structure</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_4.html"><div class="box box5">Create the Manifest</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_5.html"><div class="box box6">Create the Settings</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_6.html"><div class="box box7">Create the HTML Template</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_7.html"><div class="box box8">Create the Styles</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_8.html"><div class="box box9">Create the JavaScript</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_9.html"><div class="box box10">Package, Upload, and Test Your Element</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="element_10.html"><div class="box box11">Finish</div></a></div>
<div class="clearfix"></div>
</div>
