{% if page.sidebar == "cl_gs_sidebar" %}
{% assign sidebar = site.data.sidebars.cl_gs_sidebar.entries %}
{% elsif page.sidebar == "cl_apps_sidebar" %}
{% assign sidebar = site.data.sidebars.cl_apps_sidebar.entries %}
{% elsif page.sidebar == "cl_apis_sidebar" %}
{% assign sidebar = site.data.sidebars.cl_apis_sidebar.entries %}
{% elsif page.sidebar == "cl_tags_sidebar" %}
{% assign sidebar = site.data.sidebars.cl_tags_sidebar.entries %}

{% elsif page.sidebar == "ds_gs_sidebar" %}
{% assign sidebar = site.data.sidebars.ds_gs_sidebar.entries %}
{% elsif page.sidebar == "ds_apps_sidebar" %}
{% assign sidebar = site.data.sidebars.ds_apps_sidebar.entries %}
{% elsif page.sidebar == "ds_apis_sidebar" %}
{% assign sidebar = site.data.sidebars.ds_apis_sidebar.entries %}
{% elsif page.sidebar == "ds_themes_sidebar" %}
{% assign sidebar = site.data.sidebars.ds_themes_sidebar.entries %}
{% elsif page.sidebar == "ds_tags_sidebar" %}
{% assign sidebar = site.data.sidebars.ds_tags_sidebar.entries %}

{% elsif page.sidebar == "pf_apps_sidebar" %}
{% assign sidebar = site.data.sidebars.pf_apps_sidebar.entries %}
{% elsif page.sidebar == "pf_apis_sidebar" %}
{% assign sidebar = site.data.sidebars.pf_apis_sidebar.entries %}
{% elsif page.sidebar == "pf_themes_sidebar" %}
{% assign sidebar = site.data.sidebars.pf_themes_sidebar.entries %}
{% elsif page.sidebar == "pf_tutorials_sidebar" %}
{% assign sidebar = site.data.sidebars.pf_tutorials_sidebar.entries %}
{% elsif page.sidebar == "pf_tags_sidebar" %}
{% assign sidebar = site.data.sidebars.pf_tags_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.other.entries %}
{% endif %}

{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "cloud_gs" %}
{% assign sidebar_pdf = site.data.sidebars.cl_gs_sidebar.entries %}
{% endif %}

{% if site.product == "cloud_apis" %}
{% assign sidebar_pdf = site.data.sidebars.cl_apis_sidebar.entries %}
{% endif %}

{% if site.product == "cloud_apps" %}
{% assign sidebar_pdf = site.data.sidebars.cl_apps_sidebar.entries %}
{% endif %}
