<!DOCTYPE html>
<head>
    {% include head.html %}
</head>
<body>

{% include topnav.html %}


{% if page.sidebar == false or page.sidebar.blank? %}
  {% assign has_sidebar = false %}
{% else %}
  {% assign has_sidebar = true %}
{% endif %}


<div class="page {% if has_sidebar %}has-sidebar{% endif %}">
    {% if has_sidebar %}
      <div class="col-sidebar">
       	{% include sidebar.html %}
      </div>
    {% endif %}

    <div class="col-content">
        {{content}}
    </div>
</div>

{% if site.google_analytics %}
	{% include google_analytics.html %}
{% endif %}

</body>
</html>
