<p>In this step, we’ll register the app in the {{site.portal}} so that we have the info needed to create the manifest.
​<ol>
    <li> Open the <a href="{{site.portal_url}}">{{site.portal}}</a></li>
    <li>{% if site.project=="platform" %}Click <strong>Create New App</strong>.
    {%elsif site.project=="cloud"%} Click the <strong>APPS</strong> tab and click <strong>Create New App</strong>{% endif %}</li>
    <li>Enter your account email in the <strong>App Name</strong> field, for example, <code>myemail@email.com</code>.
        {% include tip.html content="App names must be unique. Using your account email as a name for this tutorial ensures this name will be unique." %}</li>

​   {% if site.project=="platform" %}
    <li>Select <strong>eCommerce</strong> for the Category.</li>
    {% endif %}

    <li>Click <strong>Save</strong>.</li>
</ol>


​We now have a Client ID and Secret for the app (located in the card on the left). We’ll need the Client ID when we create the element’s manifest.
{% if site.project=="cloud" %}
{% include image.html file="cl_apps.png" %}
{% endif %}
