<p>In this tutorial, you’ll learn how to recreate the Weebly Price Chart sample element, package it up and test it. This element displays a given number of price plans, each with a given number of metrics.</p>

{% include note.html content="The theme determines things like font and color, so how the Price Chart Displays in your site may be different than what you see in this tutorial." %}

{% include image.html file="sh_priceChart.png" alt="Weebly Price Chart" caption="The Weebly Price Chart" %}

<p><strong>You'll learn how to:</strong>
    <ul>
        <li>Follow Weebly best practices for designing an element</li>
        <li>Register an app</li>
        <li>Create the needed directory structure</li>
        <li>Create the app’s manifest, including the configuration settings needed for the element to function properly</li>
        <li>Create the HTML, CSS, and JavaScript files for the element</li>
        <li>Package up the app and install it to a test site</li>
    </ul>
</p>
<p><strong>Time to complete:</strong> About 45 minutes</p>
<p><strong>User experience:</strong> Intermediate web design with knowledge of CSS</p>
<p><strong>Prerequisites:</strong>
    <ul>
        <li>The Price Chart sample application<br>
            We’ll be recreating this application in this tutorial. You’ll need the files to compare your work, and in some cases, to complete a step. Download the app and the assets zip files from our Git repository, and unzip them to a local directory. </li>
        <li>A code editor that can handle HTML, JavaScript, CSS, and JSON</li>
    </ul>
</p>
